body {
    background-image: url("background.jpeg");
    background-size: cover;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
   

}

h1 {
    color: rgba(218, 165, 32, 0.905);
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
   
}

/*  # for id, . for class */
#message-el {
    
    font-style: italic;
    font-weight: 500 px;
}

button {
    font-weight: bolder;
    font-size: large;
    color: darkgreen;
    background-color: goldenrod;
    width: 160px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    border: none;
}